<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">  
<title>Experience</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	<!-- CSS here -->
      
       <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </head>

   
     <body>
     
     
     <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between " style="font-family: Georgia, serif;font-weight: bold;font-size:25">
         
<a class="flex-sm-fill text-sm-center nav-link active" href="/test">Accueil</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/indexExp">Expérience</a>
  <a hidden class="flex-sm-fill text-sm-center nav-link  " href="/index1">Héberger des voyageurs</a>
  <a class="flex-sm-fill text-sm-center nav-link " href="/index1">Devenez Hôte</a>

         <div class="dropdown">
  <button style="height:1cm;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Compte
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/formR">Contactez nous</a>
    <a class="dropdown-item" href="/indexR">Lister les Reclamations</a>
  <a class="dropdown-item" hidden href="/logout"> Deconnection </a>
    <a class="dropdown-item" href="/login">Connexion</a>
    <a class="dropdown-item" href="/registration">Inscription</a>
    <a class="dropdown-item" href="#">Aide</a>
  </div>
</div>
        </div>
      </div>
    </header>
    
	<div class="container-fluid" style="margin-top: 30px;">

		<div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
			  
				<h3 class="form-signin-heading">Ajouter un Avis</h3>
       <div class="panel-body">
         <form th:action="@{saveExp}" method="post" >
         	
           <div class="form-group form-floating">
           
           <textarea 
           class="form-control" type="text" name="avis"
             th:value="${experience.avis}"  placeholder="votre avis" id="floatingTextarea"
></textarea>

                        <span class="text-danger" th:errors="*{experience.avis}"></span>

             
           </div>
           <div class="form-group">
   
                
                 <fieldset class="rating">
        <legend>Votre évaluation</legend>

             
             
             
<!--              <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/assets/bootstrapless-star-rating/star-rating.css} "/>
    <div class="container">-->
    <!--<form method="post" th:object="${rating}" class="mt-5">-->

        <!--<input value="0" type="hidden" class="rating" data-glyphicon="0"
               th:field="*{stars}">-->

<!--        <button class="btn btn-primary" type="submit">Submit form</button>-->
<!--    </form>-->

<!--</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/bootstrapless-star-rating/star-rating.min.js}"></script>
             -->
             
             
             
             
             
             
         
             <style>
             .rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}</style>
             
             
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="rating" >

    <span><input type="radio" name="rating" id="str5" value="5"><label for="str5">☆</label></span>
    <span><input type="radio" name="rating" id="str4" value="4"><label for="str4">☆</label></span>
    <span><input type="radio" name="rating" id="str3" value="3"><label for="str3">☆</label></span>
    <span><input type="radio" name="rating" id="str2" value="2"><label for="str2">☆</label></span>
    <span><input type="radio" name="rating" id="str1" value="1"><label for="str1">☆</label></span>

<!--<button th:value="${experience.rating}" onclick="display"> hii</button>-->

</div>
         <script>
         $(document).ready(function(){
    // Check Radio-box
    $(".rating input:radio").attr("checked", false);

    $('.rating input').click(function () {
        $(".rating span").removeClass('checked');
        $(this).parent().addClass('checked');
    });

    $('input:radio').change(
      function(){
        var userRating = this.value;
       // alert(userRating);
    }); 
});
function display(){
	alert(userRating);
}
         </script> 
          <!--    
        <input id="demo-1" type="radio" value="1" name="rating"
             th:value="${experience.rating}"> 
             
             
             
        <label for="demo-1">1 star</label>
        <input id="demo-2" type="radio"  name="rating"
             th:value="${experience.rating}" value="2">
                
        
        <label for="demo-2">2 stars</label>
        <input id="demo-3" type="radio" name="rating"
             th:value="${experience.rating}" value="3">
        
        <label for="demo-3">3 stars</label>
        <input id="demo-4" type="radio" name="rating"
             th:value="${experience.rating}"  value="4.3">
             
        <label for="demo-4">4 stars</label>
        <input id="demo-5" type="radio" name="rating"
             th:value="${experience.rating}"  value="5.0">
        <label for="demo-5">5 stars</label> -->
        
        
         <!--             <input id="demo-1" class="form-control" type="number" value="1" name="rating" min="1" max="5"
             th:value="${experience.rating}"> -->
        
         <span class="text-danger" th:errors="*{experience.rating}"></span>
        	</div>
        	
        	<div class="container">
  <span id="rateMe3"  class="rating-faces"></span>
</div>

<!-- rating.js file -->
<!-- <script >
// Rating Initialization  src="js/addons/rating.js"
$(document).ready(function() {
  $('#rateMe3').mdbRate();
});
</script> -->
           <div>
             <button type="submit" onclick="return alert('Bien Modifie ')" class="btn btn-primary">Save</button>
           </div>
         </form>
       </div>
     </div>
  </div>
  
  
  

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p></p>
        
      </div>
    </footer>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body>
  
  
</body>
</html>